:root {
  --color-negative: #000000;
  --color-negative-light: rgba(4, 5, 5, 0.8);
  --color-negative-very-light: rgba(4, 5, 5, 0.5);
  --color-zero: #fff;
  --color-first: #43425d;
  --color-second: #3c3b54;
  --color-background: #f0f0f0;
  --color-border: #dfdfdf;
  --color-font-title: #444;
  --color-font-text: #777; 
  --color-font-price: #555;
}