:root {
  --spacing-big: 60px;
  --spacing-medium: 45px;
  --spacing-small: 30px;
  --spacing-extra-small: 15px;

  --font-big: 20px;
  --font-medium: 16px;

  --radius: 25px;
  --radius-card: 5px;

  --border: 1px;

  --line-height: 24px;
}