.button-animation {
  margin-left: var(--spacing-big);
}

.button-service {
  background-color: var(--color-zero);
  padding: var(--spacing-extra-small) var(--spacing-medium);
  border: var(--border) solid var(--color-first);
  border-radius: var(--radius);
  color: var(--color-first);
  cursor: pointer;
  transition: all 300ms linear;
}

.button-service:hover {
  background-color: var(--color-first);
  color: var(--color-zero);
}

