.service-card > .card {
  background: var(--color-zero);
  margin-left: var(--spacing-big);
  padding: var(--spacing-medium) var(--spacing-medium) var(--spacing-small);
  border-radius: var(--radius-card);
  border: var(--border) solid var(--color-border);
  width: 280px;
  height: 140px;
}

.service-card > .photo {
  width: 150px;
  z-index: -1;
  transform: translateX(-110%);
  transition: transform 200ms linear;
}

.service-card img {
  object-fit: cover;
  object-position: center;
}

.service-card {
  display: flex;
}

.service-card > .card:hover + .photo {
  transform: translateX(0);
}